<body id="app" style="background: #fafafa;">

    <div id="cuerpo">
  
      <header class="container-fluid">
  
        <ul class="nav nav-pills nav-fill">
    
          <li class="nav-item" role="presentation">
    
            <a class="nav-link active" id="pills-products-tab" data-toggle="pill" href="#pills-products" role="tab"
              aria-controls="pills-products" aria-selected="true">Productos</a>
          </li>
    
          <li class="nav-item dropdown" role="presentation">
    
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Ventas</a>
    
            <div class="dropdown-menu">
    
              <a class="dropdown-item" id="pills-sells-tab" data-toggle="pill" href="#pills-sells" role="tab"
                aria-controls="pills-sells" aria-selected="false">Nuevo Remito</a>
    
              <div class="dropdown-divider"></div>
    
              <a class="dropdown-item" id="pills-historic-tab" data-toggle="pill" href="#pills-historic" role="tab"
                aria-controls="pills-historic" aria-selected="false">Historial</a>
    
              <div class="dropdown-divider"></div>
    
              <a class="dropdown-item" id="pills-refund-tab" data-toggle="pill" href="#pills-refund" role="tab"
                aria-controls="pills-refund" aria-selected="false">Devoluciones</a>
            </div>
          </li>
    
          <li class="nav-item dropdown" role="presentation">
    
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Administrar</a><!-- Agregar disabled a class y aria-disabled="true" -->
    
            <div class="dropdown-menu">
    
              <a class="dropdown-item" id="pills-create-tab" data-toggle="pill" href="#pills-create" role="tab"
                aria-controls="pills-create" aria-selected="false">Agregar Producto/s</a>
    
              <div class="dropdown-divider"></div>
    
              <a class="dropdown-item" id="pills-stock-tab" data-toggle="pill" href="#pills-stock" role="tab"
                aria-controls="pills-stock" aria-selected="false">Stock de Productos</a>
    
              <div class="dropdown-divider"></div>
    
              <a class="dropdown-item" id="pills-update-tab" data-toggle="pill" href="#pills-update" role="tab"
                aria-controls="pills-update" aria-selected="false">Editar Producto/s</a>
    
              <div class="dropdown-divider"></div>
    
              <a class="dropdown-item" id="pills-archive-tab" data-toggle="pill" href="#pills-archive" role="tab"
                aria-controls="pills-archive" aria-selected="false">Pruductos Archivados</a>
            </div>
    
    
          </li>
        </ul>
      </header>
