<body id="app" style="background: #fafafa;">

  <div id="cuerpo">

    <header class="container-fluid">

      <ul class="nav nav-pills nav-fill">

        <li class="nav-item" role="presentation">

          <a class="nav-link <%- seccion=='index'?'active':''%>" href="/">Productos</a>
        </li>

        <li class="nav-item dropdown" role="presentation">

          <a class="nav-link dropdown-toggle <%- seccion=='remito'||seccion=='historial'||seccion=='devoluciones'?'active':''%>"
            data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ventas</a>

          <div class="dropdown-menu">

            <a class="dropdown-item" href="/ventas/remito">Nuevo Remito</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/ventas/historial">Historial</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/ventas/devoluciones">Devoluciones</a>
          </div>
        </li>

        <li class="nav-item dropdown" role="presentation">

          <a class="nav-link dropdown-toggle <%- seccion=='agregar'||seccion=='stock'||seccion=='editar'||seccion=='archivados'?'active':''%>"
            data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar</a>
          <!-- Agregar disabled a class y aria-disabled="true" -->

          <div class="dropdown-menu">

            <a class="dropdown-item" href="/administrar/agregar">Agregar Producto/s</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/administrar/stock">Stock de Productos</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/administrar/editar">Editar Producto/s</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/administrar/archivados">Pruductos Archivados</a>
          </div>


        </li>
      </ul>
    </header>