<%- include('partials/head.ejs') %> 
<%- include('partials/header.ejs') %> 
<div>
  
    <div class="row">

      <div class="col-4">

        <div class="row justify-content-around">

          <h3>Agregar un producto</h3>
          <form action="" class=" col-12">

            <div class="row justify-content-center">

              <div class="form-group col-12">

                <select class="form-control">

                  <option value="" disabled selected>Selecciona una categoría...</option>
                  <option value="">Carteras</option>
                  <option value="">Zapatos</option>
                  <option value="">Accesorios</option>
                </select>
              </div>

              <div class="form-group col-12">

                <select class="form-control">

                  <option value="" disabled selected>Selecciona una sub-categoría...</option>
                  <option value="">Carteras</option>
                  <option value="">Zapatos</option>
                  <option value="">Accesorios</option>
                </select>
              </div>

              <div class="form-group col-12">

                <input class="col-12 form-control" type="text" placeholder="Modelo">
              </div>


              <div class="form-group col-12">

                <select name="" id="" class="col-12 form-control">

                  <option value="" disabled selected>Selecciona un color...</option>
                  <option value="">Negro</option>
                  <option value="">Marrón</option>
                  <option value="">Blanco</option>
                  <option value="">Rojo</option>
                  <option value="">Azul</option>
                </select>
              </div>

              <div class="form-group col-12">

                <select class="col-12 form-control">

                  <option value="" disabled selected>Selecciona un talle...</option>
                  <option value="">35</option>
                  <option value="">36</option>
                  <option value="">37</option>
                  <option value="">38</option>
                  <option value="">39</option>
                  <option value="">40</option>
                </select>
              </div>

              <div class="form-group col-12">

                <input class="col-12 form-control" type="number" placeholder="Precio">
              </div>

              <div class="form-group col-12">

                <input class="col-12 form-control" type="number" placeholder="Precio de Lista">
              </div>

              <div class="form-group col-6">

                <label for="">Sucursal 1</label>
                <input type="checkbox" name="" id="">
                <p>Stock actual: 10 </p>
                <input type="number" name="" id="">
              </div>

              <div class="form-group col-6">

                <label for="">Sucursal 2</label>
                <input type="checkbox" name="" id="">
                <p>Stock actual: 3</p>
                <input type="number" name="" id="">
              </div>





              <button type="reset" class="btn btn-danger col-5">Borrar</button>

              <button type="submit" class="btn btn-primary col-5">Agregar</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %> 