<%- include('partials/head.ejs') %> 
<%- include('partials/header.ejs') %> 
<div class="tab-pane fade" id="pills-historic" role="tabpanel" aria-labelledby="pills-historic-tab">
  
    <div class="row">

      <div class="col-4">

        <div class="row justify-content-around">

          <h3>Busqueda de Remitos</h3>
          <form action="" class=" col-12">

            <div class="row justify-content-around">

              <div class="form-group col-12">

                <label for="">Desde</label>
                <input type="date" id="" class="form-control">
              </div>

              <div class="form-group col-12">

                <label for="">Hasta</label>
                <input type="date" name="" id="" class="form-control">
              </div>


              <div class="form-group col-12">

                <input class="form-control" type="text" placeholder="Nro. de remito">
              </div>

              <button type="reset" class="btn btn-danger col-5">Borrar</button>

              <button type="submit" class="btn btn-primary col-5">Buscar</button>

            </div>
          </form>

        </div>
      </div>

      <div class="container-fluid col-8">

        <h3>Resultado</h3>

        <table class="table table-striped">

          <thead>

            <tr>

              <th scope="col">N° de remito</th>
              <th scope="col">Fecha</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row">00000001</th>
              <td>12/03/21</td>
              <td>$6500</td>
              <td><a href="" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a></td>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%!important;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati aliquam veniam repellendus
                      magnam nulla perspiciatis aut dolorem voluptatem molestiae non nam, harum ullam commodi impedit,
                      provident cum, sint earum tenetur culpa. Ex quasi molestiae suscipit? Delectus excepturi fugiat
                      possimus labore quisquam cum iusto animi voluptatum harum maiores earum autem nisi sint
                      exercitationem et recusandae in quia, aliquam, culpa repellat expedita nam? Adipisci iste saepe
                      maiores, hic doloremque vitae quia asperiores omnis voluptate quidem voluptas sapiente iure
                      unde, sint temporibus deserunt fugiat veniam magnam incidunt illo laudantium! Mollitia, saepe
                      aperiam ea animi ducimus doloribus vero amet, odit, impedit nesciunt culpa. Similique vitae
                      accusamus debitis. Aspernatur sit deserunt recusandae vitae incidunt, mollitia facere maxime
                      quia iusto, a, veritatis eaque rerum error accusamus sapiente optio. Labore eos dolor accusamus
                      voluptatibus? Aperiam iure modi, corporis mollitia magni id. Illo fugiat libero alias, ea magni
                      perferendis, tenetur nostrum dignissimos cum dolor qui? Consectetur, blanditiis cumque qui
                      debitis praesentium vero ex tempora explicabo doloremque, adipisci et sit rerum quod error
                      commodi iure dignissimos reiciendis architecto iste! Voluptatum excepturi deleniti harum id
                      corporis beatae atque voluptatem dolorum minima voluptate amet impedit quos, molestias magni hic
                      dolor recusandae placeat magnam, eum iure, soluta tempore. Repellendus quod odio architecto
                      voluptates sed, hic officia, dignissimos quia alias similique nobis mollitia qui facilis,
                      aliquid porro. Nesciunt consequatur omnis iste beatae architecto maiores, nobis nam laborum rem
                      reprehenderit deleniti quo sit! Ad blanditiis eligendi nihil odio exercitationem nisi pariatur
                      nemo rerum molestiae voluptatum! Magnam officia corporis harum eaque. Animi libero ipsam
                      provident quaerat vitae alias tempore eveniet eius odit voluptatem dolorum sunt hic, perferendis
                      laboriosam veniam deserunt officia maxime saepe sapiente ipsum. Deserunt, vero, quo officiis
                      consequatur sed pariatur nostrum aspernatur quisquam molestiae impedit voluptate veritatis
                      repellat dolorum autem! Aperiam ullam aut adipisci nulla dolore voluptatem nemo fugit, enim
                      repudiandae voluptatum reprehenderit ex labore porro quo, possimus a, iure laudantium quaerat
                      numquam inventore commodi atque qui molestias? Veniam soluta atque vero veritatis error dolores
                      rerum, alias dolorem eos hic pariatur distinctio consequuntur laboriosam cupiditate quis
                      molestias, voluptatum nostrum esse perferendis maxime beatae culpa reiciendis! Odit eos
                      architecto, facere earum perferendis ipsa culpa odio enim dicta tempora temporibus mollitia quo,
                      expedita amet repellat minus, blanditiis nam inventore neque magnam illo officia dolore dolorem.
                      Dolorum totam, incidunt aut ab rem voluptates consectetur unde quae possimus deserunt assumenda
                      laborum, repellendus nesciunt libero maiores labore ullam odit quo accusantium, earum aspernatur
                      veritatis eveniet! Dolorum culpa perspiciatis iure ipsum? Non, totam magni. Placeat laudantium
                      molestiae voluptas quod excepturi consectetur tempora minima? Molestiae molestias recusandae
                      soluta quibusdam! Labore saepe officia id rem alias similique neque ratione quo dolorem
                      voluptatibus eos quisquam dolorum sunt fuga corrupti harum quasi consectetur itaque consequatur
                      voluptatum, iure facilis provident. Illo nisi nulla error fugiat fugit consectetur consequatur
                      nam omnis quo, sed sint incidunt nobis doloribus hic reprehenderit in harum consequuntur
                      necessitatibus. Eum animi commodi ea fugiat recusandae quaerat, voluptatum maxime possimus
                      quisquam consequatur blanditiis tempora beatae repellendus voluptate perspiciatis nam esse.
                      Ratione porro velit fuga tempora deleniti, architecto tenetur earum quas odio necessitatibus!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            <tr>
              <td scope="row">00000002</td>
              <td>13/03/21</td>
              <td style="text-overflow: ellipsis; max-width: 200px; white-space: nowrap; overflow: hidden;">$10500
              </td>
              <td><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th scope="row">00000003</th>
              <td>14/03/21</td>
              <td>$2500</td>
              <td><i class="fa fa-eye" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Subtotal: $XXX</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %> 