<%- include('partials/head.ejs') %>

    <body id="app" style="background: #fafafa; height: 100vh;">

        <div class="container" style="height: 100vh;">

            <div class="row justify-content-center align-items-center" style="height: 100vh;">

                <div class="col-4">

                    <form action="/" method="POST">

                        <label for="">Usuario</label>
                        <br>
                        <span class="text-danger" id="error"><%= (typeof errors != 'undefined' && errors.username) ? errors.username.msg : ''%></span>
                        <input type="text" class="form-control" name="username" id="username">
                        
                        <label for="">Contraseña</label>
                        <span class="text-danger" id="error"><%= (typeof errors != 'undefined' && errors.password) ? errors.password.msg : ''%></span>
                        <input type="password" class="form-control" name="password" id="password">

                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>

            </div>
        </div>
        <%- include('partials/footer.ejs') %>