<%- include('partials/head.ejs') %> 
<%- include('partials/header.ejs') %> 
<div class="tab-pane fade container-fluid" id="pills-sells" role="tabpanel" aria-labelledby="pills-sells-tab">
  
    <div class="row">

      <div class="col-6">

        <table class="table table-striped">

          <thead>

            <tr>

              <th scope="col"></th>
              <th scope="col">Cantidad</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row"><img src="/images/index.jpg" alt="" width="50"></th>
              <td>1</td>
              <td>Morrison</td>
              <td>$3000</td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td scope="row"><img src="/images/index.jpg" alt="" width="50"></td>
              <td>1</td>
              <td>Ricky
                Suela Talle 35/36/37/38/39aaaaaaaaaaaaaaa</td>
              <td style="text-overflow: ellipsis; max-width: 75px; white-space: nowrap; overflow: hidden;">$3500</td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th scope="row"><img src="/images/index.jpg" alt="" width="50"></th>
              <td>1</td>
              <td>Waters</td>
              <td>$5000</td>
              <td><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>Subtotal: $11500</td>
            </tr>
          </tbody>
        </table>

        <button type="reset" class="btn btn-danger col-5">Reiniciar</button>
      </div>

      <div class="col-6">

        <div class="row justify-content-end">

          <img src="/images/remito.jpg" alt="remito" class="col-12">
          <button type="submit" class="btn btn-primary col-5">Imprimir</button>
        </div>



      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %> 