<table border="" class="table">
    <caption >QR de la compra</caption>
    <thead>
      <td>Fecha 11/05/21</td>
      <td>Local Av. Montes de Oca 1013</td>
      <td>Número de remito: </td>
      
        <tr>
        <th scope="col">Cantidad</th>
        <th></th>
        <th scope="col">Nombre del producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <th></th>
        <th>Mark</th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <th></th>
        <th>Jacob</th>

      </tr>
      <tr>
        <th scope="row">3</th>
        <th></th>
        <th>Larry</th>

      </tr>
    </tbody>
  </table>