<%- include('partials/head.ejs') %>
  <%- include('partials/header.ejs') %>


    <div>

      <div class="container-fluid col-8">

        <h3>Stock de productos</h3>

        <table class="table table-striped">

          <thead>

            <tr>
            
              <th scope="col">Id producto</th>
              <th scope="col">Modelo</th>
              <th scope="col">Categoría</th>
              <th scope="col">Color</th>
              <th scope="col"></th>
              <th scope="col">Código QR </th>
            </tr>
          </thead>

          <tbody id="bodyTable">
            <tr id="tBodyEnd">
              <th scope="col">asd</th>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%!important;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Talle</th>
                    <th scope="col">Stock Sucursal 1</th>
                    <th scope="col">Stock Sucursal 2</th>
                    <th scope="col">Stock total</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="">
                    <tr>
                      <th scope="row">35</th>
                      <td><input type="number" value="5"></td>
                      <td><input type="number" value="6"></td>
                      <td>11</td>
                    </tr>
                    <tr>
                      <th scope="row">36</th>
                      <td><input type="number" value="7"></td>
                      <td><input type="number" value="1"></td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <th scope="row">37</th>
                      <td><input type="number" value="4"></td>
                      <td><input type="number" value="3"></td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <th scope="row">38</th>
                      <td><input type="number" value="10"></td>
                      <td><input type="number" value="10"></td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th scope="row">39</th>
                      <td><input type="number" value="6"></td>
                      <td><input type="number" value="2"></td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <th scope="row">40</th>
                      <td><input type="number" value="1"></td>
                      <td><input type="number" value="8"></td>
                      <td>9</td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary">Deshacer cambios</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/stock.js"></script>
   <!--  <script src="/js/qrcode.js"></script>
    <script src="/js/qrfunction.js"></script> -->
    <%- include('partials/footer.ejs') %>